# The Absenteeism dataset
---

**Mounting drive**

In [1]:
from google.colab import drive
drive.mount("/content/gdrive")

Mounted at /content/gdrive

In [2]:
content_path = "/content/gdrive/MyDrive/Learning/complete_data_analyst_course/exercises"
data_dir = content_path + "/datasets"

### Libraries

In [3]:
import pandas as pd
import numpy as np

### Data

In [4]:
raw_data = pd.read_csv(data_dir+"/Absenteeism-data.csv")
raw_data

,ID,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,11,26,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,36,0,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,3,23,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,7,7,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,11,23,23/07/2015,289,36,33,239.554,30,1,2,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...
695,17,10,23/05/2018,179,22,40,237.656,22,2,2,0,8
696,28,6,23/05/2018,225,26,28,237.656,24,1,1,2,3
697,18,10,24/05/2018,330,16,28,237.656,25,2,0,0,8
698,25,23,24/05/2018,235,16,32,237.656,25,3,0,0,2
699,15,28,31/05/2018,291,31,40,237.656,25,1,1,1,2

# General analysis
---

In [5]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   ID                         700 non-null    int64
 1   Reason for Absence         700 non-null    int64
 2   Date                       700 non-null    object
 3   Transportation Expense     700 non-null    int64
 4   Distance to Work           700 non-null    int64
 5   Age                        700 non-null    int64
 6   Daily Work Load Average    700 non-null    float64
 7   Body Mass Index            700 non-null    int64
 8   Education                  700 non-null    int64
 9   Children                   700 non-null    int64
 10  Pets                       700 non-null    int64
 11  Absenteeism Time in Hours  700 non-null    int64
dtypes: float64(1), int64(10), object(1)
memory usage: 65.8+ KB

In [6]:
raw_data.describe(include='all')

,ID,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
count,700.000000,700.000000,700,700.000000,700.000000,700.000000,700.000000,700.000000,700.000000,700.000000,700.000000,700.000000
unique,NaN,NaN,432,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,17/08/2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,17.951429,19.411429,NaN,222.347143,29.892857,36.417143,271.801774,26.737143,1.282857,1.021429,0.687143,6.761429
std,11.028144,8.356292,NaN,66.312960,14.804446,6.379083,40.021804,4.254701,0.668090,1.112215,1.166095,12.670082
min,1.000000,0.000000,NaN,118.000000,5.000000,27.000000,205.917000,19.000000,1.000000,0.000000,0.000000,0.000000
25%,9.000000,13.000000,NaN,179.000000,16.000000,31.000000,241.476000,24.000000,1.000000,0.000000,0.000000,2.000000
50%,18.000000,23.000000,NaN,225.000000,26.000000,37.000000,264.249000,25.000000,1.000000,1.000000,0.000000,3.000000
75%,28.000000,27.000000,NaN,260.000000,50.000000,40.000000,294.217000,31.000000,1.000000,2.000000,1.000000,8.000000
max,36.000000,28.000000,NaN,388.000000,52.000000,58.000000,378.884000,38.000000,4.000000,4.000000,8.000000,120.000000

**Checkpoint!**

In [7]:
df = raw_data.copy()

# Preprocessing
---

## ID

In [8]:
df['ID'].nunique()

34

In [9]:
df.drop('ID', axis=1, inplace=True)

Since `ID` do not contribute to estimations and can't used as index either, this columns can be droped

## Reason for Absense

In [10]:
df['Reason for Absence'].nunique()

28

In [11]:
print(sorted(df['Reason for Absence'].unique()))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 21, 22, 23, 24, 25, 26, 27, 28]

The reason number 20 is missing or nobody claimed it.

**.get_dummies**

In [12]:
reason_columns = pd.get_dummies(df['Reason for Absence'], drop_first=True)
reason_columns

,1,2,3,4,5,6,7,8,9,10,...,18,19,21,22,23,24,25,26,27,28
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
696,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
697,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
698,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
699,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

## Group the reasons for absence

In [13]:
reason_type_1 = reason_columns.loc[:, 1:14].max(axis=1)
reason_type_2 = reason_columns.loc[:, 15:17].max(axis=1)
reason_type_3 = reason_columns.loc[:, 18:21].max(axis=1)
reason_type_4 = reason_columns.loc[:, 22:].max(axis=1)

In [14]:
df.drop('Reason for Absence', axis=1, inplace=True)

df = pd.concat([df, reason_type_1, reason_type_2, reason_type_3, reason_type_4], axis=1)

df

,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,0,1,2,3
0,07/07/2015,289,36,33,239.554,30,1,2,1,4,0,0,0,1
1,14/07/2015,118,13,50,239.554,31,1,1,0,0,0,0,0,0
2,15/07/2015,179,51,38,239.554,31,1,0,0,2,0,0,0,1
3,16/07/2015,279,5,39,239.554,24,1,2,0,4,1,0,0,0
4,23/07/2015,289,36,33,239.554,30,1,2,1,2,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,23/05/2018,179,22,40,237.656,22,2,2,0,8,1,0,0,0
696,23/05/2018,225,26,28,237.656,24,1,1,2,3,1,0,0,0
697,24/05/2018,330,16,28,237.656,25,2,0,0,8,1,0,0,0
698,24/05/2018,235,16,32,237.656,25,3,0,0,2,0,0,0,1
699,31/05/2018,291,31,40,237.656,25,1,1,1,2,0,0,0,1

**Rename columns**

In [15]:
df.rename({
    0: 'Reason_1',
    1: 'Reason_2',
    2: 'Reason_3',
    3: 'Reason_4'
}, axis=1, inplace=True)

**Reorder columns**

In [16]:
df.columns

Index(['Date', 'Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education', 'Children',
       'Pets', 'Absenteeism Time in Hours', 'Reason_1', 'Reason_2', 'Reason_3',
       'Reason_4'],
      dtype='object')

In [17]:
column_names_reorderd = [
  'Reason_1', 
  'Reason_2', 
  'Reason_3',
  'Reason_4', 
  'Date', 
  'Transportation Expense', 
  'Distance to Work', 
  'Age',
  'Daily Work Load Average', 
  'Body Mass Index', 
  'Education', 
  'Children',
  'Pets',
  'Absenteeism Time in Hours'
]

In [18]:
df = df[column_names_reorderd]

**Checkpoint!**

In [19]:
df_reason_mod = df.copy()

In [20]:
df_reason_mod

,Reason_1,Reason_2,Reason_3,Reason_4,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,0,0,0,1,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,0,0,0,0,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,0,0,0,1,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,1,0,0,0,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,0,0,0,1,23/07/2015,289,36,33,239.554,30,1,2,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,1,0,0,0,23/05/2018,179,22,40,237.656,22,2,2,0,8
696,1,0,0,0,23/05/2018,225,26,28,237.656,24,1,1,2,3
697,1,0,0,0,24/05/2018,330,16,28,237.656,25,2,0,0,8
698,0,0,0,1,24/05/2018,235,16,32,237.656,25,3,0,0,2
699,0,0,0,1,31/05/2018,291,31,40,237.656,25,1,1,1,2

## Date

In [21]:
df_reason_mod['Date'] = pd.to_datetime(df_reason_mod['Date'], format='%d/%m/%Y')

In [22]:
type(df_reason_mod['Date'][0])

pandas._libs.tslibs.timestamps.Timestamp

**Extracting the month value**

In [23]:
list_months = []
for i in range(len(df_reason_mod)):
  list_months.append(df_reason_mod['Date'][i].month)

# list_months

In [24]:
df_reason_mod.insert(5, 'Month Value', list_months)

df_reason_mod.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Date,Month Value,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,0,0,0,1,2015-07-07,7,289,36,33,239.554,30,1,2,1,4
1,0,0,0,0,2015-07-14,7,118,13,50,239.554,31,1,1,0,0
2,0,0,0,1,2015-07-15,7,179,51,38,239.554,31,1,0,0,2
3,1,0,0,0,2015-07-16,7,279,5,39,239.554,24,1,2,0,4
4,0,0,0,1,2015-07-23,7,289,36,33,239.554,30,1,2,1,2

**Extracting day of the week**

In [25]:
list_weekday = []
for i in range(len(df_reason_mod)):
  list_weekday.append(df_reason_mod['Date'][i].weekday())

# list_weekday

In [26]:
df_reason_mod.insert(6, 'Day of the Week', list_weekday)

# df_reason_mod.head()

**Checkpoint!**

In [27]:
df_reason_date_mod = df_reason_mod.copy()

df_reason_date_mod

,Reason_1,Reason_2,Reason_3,Reason_4,Date,Month Value,Day of the Week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,0,0,0,1,2015-07-07,7,1,289,36,33,239.554,30,1,2,1,4
1,0,0,0,0,2015-07-14,7,1,118,13,50,239.554,31,1,1,0,0
2,0,0,0,1,2015-07-15,7,2,179,51,38,239.554,31,1,0,0,2
3,1,0,0,0,2015-07-16,7,3,279,5,39,239.554,24,1,2,0,4
4,0,0,0,1,2015-07-23,7,3,289,36,33,239.554,30,1,2,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,1,0,0,0,2018-05-23,5,2,179,22,40,237.656,22,2,2,0,8
696,1,0,0,0,2018-05-23,5,2,225,26,28,237.656,24,1,1,2,3
697,1,0,0,0,2018-05-24,5,3,330,16,28,237.656,25,2,0,0,8
698,0,0,0,1,2018-05-24,5,3,235,16,32,237.656,25,3,0,0,2
699,0,0,0,1,2018-05-31,5,3,291,31,40,237.656,25,1,1,1,2

## Education

In [28]:
df_reason_date_mod['Education'].value_counts()

1    583
3     73
2     40
4      4
Name: Education, dtype: int64

In [29]:
df_reason_date_mod['Educatino'] = df_reason_date_mod['Education'].map({1:0, 2:1, 3:1, 4:1})

In [30]:
df_reason_date_mod['Educatino'].value_counts()

0    583
1    117
Name: Educatino, dtype: int64

**Checkpoint!**

In [31]:
df_cleaned = df_reason_date_mod.copy()
df_cleaned.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Date,Month Value,Day of the Week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Educatino
0,0,0,0,1,2015-07-07,7,1,289,36,33,239.554,30,1,2,1,4,0
1,0,0,0,0,2015-07-14,7,1,118,13,50,239.554,31,1,1,0,0,0
2,0,0,0,1,2015-07-15,7,2,179,51,38,239.554,31,1,0,0,2,0
3,1,0,0,0,2015-07-16,7,3,279,5,39,239.554,24,1,2,0,4,0
4,0,0,0,1,2015-07-23,7,3,289,36,33,239.554,30,1,2,1,2,0

In [32]:
df.to_csv(data_dir+"/processed_data/Absenteeism_cleaned.csv", index=False)